.wallet-ul div span, .payments-options div span {
    padding:1%;
    margin:10px;
    width:100%;
    float:left;
    clear:both;
    text-align:center;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0px;font-size: 12px;
    color:#fff;
    line-height: normal;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    background-position:0 0;
    float:left;
    margin:3px 0;
    background-color: #57a957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57a957 #57a957 #3d773d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


.payments-box {
    width: 48% !important;
}

.payments-box-footer label {
    width: 100% !important;
}
.payments-box-footer label input[type=checkbox]{
    margin-left: 0px !important;
}

.payments-ul {
    margin-bottom: 25px !important;
}

.payments-item {
    margin-top: 30px !important;
    height: 100px;
}


.payments-done {
    margin-bottom: 100px !important;
}

#baner1:last-child {
    margin-top: 100px !important;
}


