.payment-pro-bg-premium {
    background-color: #ece1c0;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

.payment-pro-bg-publish {
    background-color: #aeecc0;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

.payment-pro-bg-top {
    background-color: #ecb4bc;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

.payment-pro-bg-renew {
    background-color: #c4cdec;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

.payment-pro-bg-highlight {
    background-color: #e9d3ec;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

.payment-pro-bg-wallet {
    background-color: #c1ecda;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

.payment-pro-bg-misc {
    background-color: #eceabc;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}
